body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    width: 100vw;
    height: 100vh;
    overflow: hidden; 
}


nav {
    width: 100vw;
    height: 12vh;
    padding-top: 3vh;
    text-align: center; 
}

.logo, .nav-links, .user-profile {
    display: inline-block;
    vertical-align: left; 
}

.logo {
    width: 20%;
    font-size: 24px;
    font-weight: bold;
    text-align: left;
    padding-left: 1vw;
}

.nav-links {
    width: 50%;
}

.nav-links a {
    text-decoration: none;
    color: gray;
    margin: 0 15px;
}

.user-profile {
    width: 20%;
    text-align: right;
    padding-right: 5vw;
}

.user-btn {
    padding: 10px 20px;
    background-color: #e0f2fe;
    color: #38bdf8;
    border: none;
    border-radius: 8px;
    cursor: pointer;
}

.hero {
    width: 100vw;
    height: 88vh; 
}

.hero-left, .hero-right {
    display: inline-block;
    width: 45%; 
    vertical-align: top;
    margin-top: 10vh;
}

.hero-left {
    padding-left: 8vw;
}

.hero-right {
    text-align: center;
}

.hero-left h1 {
    font-size: 3vw;
    color: #333;
}

.hero-left h1 span {
    color: #38bdf8;
}

.hero-left p {
    color: gray;
    line-height: 1.5;
}

.book-btn {
    padding: 15px 30px;
    background-color: #38bdf8;
    color: white;
    border: none;
    border-radius: 10px;
    font-size: 18px;
    margin-top: 20px;
}

.hero-right img {
    width: 80%; 
}
